#These are files that 'git add .' should ignore
#ignore object files
*.o
#ignore dependency files
*.dep
#ignore vim swap files
*.swp
#ignore executables
sim-state
osim-state
dump-state
probe-state
create-state
initialise-test
energy-analytical
k1_equal_k3_ea
k3_dominant_ea
k1_dominant_ea
uniform-rnd
calc-cosine-between-test
rotate-director-test
save-load-test
flip-test
#ignore dump files
*.dump
#ignore saved state files
*.bin

