#These are files that 'git add .' should ignore
#ignore object files
*.o
#ignore dependency files
*.dep
#ignore vim swap files
*.swp
#ignore executables
2dlc
initialise-test
energy-analytical
k1_equal_k3_ea
k3_dominant_ea
k1_dominant_ea
uniform-rnd

