#These are files that 'git add .' should ignore
#ignore object files
*.o
#ignore dependency files
*.dep
#ignore vim swap files
*.swp
#ignore executables
sim-state
dump-state
probe-state
create-state
ea-test
comp-energy-state
comp-angle-state
dvid-state
initialise-test
uniform-rnd
rotate-director-test
save-load-test
flip-test
#ignore dump files
*.dump
#ignore saved state files
*.bin

